*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h2{
    color:blue;
}

table{
    border: black 1px solid
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}